A {
	COLOR: #000099;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff;
	TEXT-DECORATION: none
}
A.button {
	PADDING: 3px;
	FONT-WEIGHT: bold;
	COLOR: #CCCCCC;
	BACKGROUND: #006699;
	BORDER-TOP: 2px solid #00CCFF;
	BORDER-LEFT: 2px solid #00CCFF;
	BORDER-RIGHT: 2px solid #0000FF;
	BORDER-BOTTOM: 2px solid #0000FF
}
A.button:hover {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	BACKGROUND: #0099FF;
	BORDER-TOP: 2px solid #00CCFF;
	BORDER-LEFT: 2px solid #00CCFF;
	BORDER-RIGHT: 2px solid #0000FF;
	BORDER-BOTTOM: 2px solid #0000FF
}
A.button:active {
	BACKGROUND: #0099FF;
	BORDER-TOP: 2px solid #0000FF;
	BORDER-LEFT: 2px solid #0000FF;
	BORDER-RIGHT: 2px solid #00CCFF;
	BORDER-BOTTOM: 2px solid #00CCFF
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #000099;
	SCROLLBAR-SHADOW-COLOR: #000099;
	SCROLLBAR-3DLIGHT-COLOR: #000099;
	SCROLLBAR-ARROW-COLOR: #0099ff;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #000099;
	SCROLLBAR-BASE-COLOR: #ffffff
}
.title {
	FONT-SIZE: 48pt;
	COLOR: #000000;
	FONT-FAMILY: Arial
}
.font {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana,Arial;
}
.header {
	COLOR: #0099ff
}
.launch {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10pt;
	COLOR: #000000;
	FONT-WEIGHT: bold;
	BACKGROUND: #0099FF;
	BORDER-TOP: 2px solid #00CCFF;
	BORDER-LEFT: 2px solid #00CCFF;
	BORDER-RIGHT: 2px solid #0000FF;
	BORDER-BOTTOM: 2px solid #0000FF
}
.text {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #000000;
	BACKGROUND: #FFFFFF;
	BORDER-TOP: 1px solid #0099FF;
	BORDER-LEFT: 1px solid #0099FF;
	BORDER-RIGHT: 1px solid #0000FF;
	BORDER-BOTTOM: 1px solid #0000FF
}
.bttn {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	BACKGROUND: #AAAAAA;
	BORDER-TOP: 1px solid #CDCDCD;
	BORDER-LEFT: 1px solid #CDCDCD;
	BORDER-RIGHT: 1px solid #777777;
	BORDER-BOTTOM: 1px solid #777777
}